<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include lib.ejs %>
    <% if(user) { %>
      <script src='app/app.js'></script>
    <% } %>
  </head>
  <body>
    <% if (!user) { %>
      <%- include welcome.html %>
    <% } else { %>
    	<h2>Hello, <%= user.displayName %>.</h2>
    <% } %>
    <%- include footer.ejs%>
  </body>
</html>